:root {
    --bg-body: #fff;
    --main-color: #000;
    --body-bgi: url('../../images/backgroundBody.svg');
    --body-bg-pos: top center;
    --second-bgi: url('../../images/YangilikBg-min.png');
    --bg-header: #17191d1a;
    --header-links: #000;
    --border-mode-btn: 1px solid transparent;
    --bg-mode-btn: #fff;
    --bgi-menu-btn: url('../../images/menu-icon.svg');
    --pos-menu: translateY(-110%);
    --theme-icon: url('../../images/sun-icon.svg');
    --bg-services: #ffffffe6;
    --border-services: 1px solid #999999;
    --services-text: #272727b3;
    --team-line: #999999;
    --team-text: #272727cc;
    --carousel-blog: #ffffffe6;
    --carousel-text: #272727b3;
    --advantage-shadow: 5px 4px 14px #0000008c;
    --slick-btn: #ffffffd2;
    --coffee-bg: rgba(255, 255, 255, 0.9);
    --coffee-bg-2: rgba(83, 83, 83, 0.1);
  }
  
  .dark {
    --bg-body: #111317;
    --body-bgi: url('../../images/backgroundBodyDark.svg');
    --body-bg-pos: top -450px center;
    --second-bgi: url('../../images/YangilikDarkBg-min.png');
    --main-color: #fff;
    --bg-header: #17191db3;
    --header-links: #fff;
    --border-mode-btn: 1px solid #aaaaaa;
    --bgi-menu-btn: url('../../images/menu-icon-dark.svg');
    --bg-mode-btn: transparent;
    --theme-icon: url('../../images/moon-icon.svg');
    --bg-services: #0e1014e6;
    --border-services: 1px solid #4e4e4e;
    --services-text: #ffffffa7;
    --team-line: #2e2d2e;
    --team-text: #ffffffcc;
    --carousel-blog: #0e1014e6;
    --carousel-text: #ffffffb3;
    --advantage-shadow: 5px 4px 14px rgba(255, 255, 255, 0.55);
    --slick-btn: #454545d2;
    --coffee-bg: rgba(14, 16, 20, 0.9);;
    --coffee-bg-2: rgba(83, 83, 83, 0.1);
  }
  
  .menu-open {
    --pos-menu: translateY(0);
  }
  